@tailwind base;
@tailwind components;
@tailwind utilities;


*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#080808;

color:white;

font-family:
Inter,
Arial,
sans-serif;

}

google-cast-launcher {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;

    --connected-color: white;
    --disconnected-color: white;
}
@media (max-width:768px){

    .plyr__volume{
        display:none !important;
    }

    .plyr__controls{
        gap:4px;
    }
    .plyr--full-ui input[type=range]{
        color:#e50914;
    }

    .plyr__control--overlaid{
        background:#e50914;
    }
}
